/* CSS RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p, h1, h2, h3, h4, h5, ul {
  padding: 0;
  margin: 0;
}

/* FONT FACE */
@font-face {
  font-display: swap;
  font-family: 'YoungSerif';
  font-style: normal;
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

/* ROOT VARIABLES */
:root {
 --text-light-brown: #824731;
 --text-dark-pink: #783C56;
}

/* BACKGROUND COLORS */
.custom-bg-beige {
  background-color: #F3E5D8;
}

.custom-bg-light-pink {
  background-color: #f9eff6;
} 

/* COLORS */
.custom-text-light-brown {
  color: var(--text-light-brown);
}

.custom-text-dark-pink {
  color: var(--text-dark-pink);
}

/* FONT FAMILY */
.ff-outfit-regular {
  font-family: 'Outfit', Arial, sans-serif;
}

.ff-youngserif-regular {
  font-family: 'YoungSerif';
}

/* CUSTOM HEIGHTS */
.custom-min-vh-100 {
  min-height: 100vh;
}

.custom-min-vh-75 {
  min-height: 75vh;
}

/* CUSTOM WIDTHS */
.custom-max-vw-75 {
  max-width: 75vw;
}

/* CUSTOM LISTS */
.custom-list li::marker {
  color: var(--text-dark-pink);
  font-size: 0.7rem;
}

ul.custom-list li {
  padding-left: 1rem; /* by default list-style-position is outside the content box*/
  margin-left: 1.5rem;
}

.custom-list-type-number li {
  /* padding-left: 0.7rem; */
  color: var(--text-dark-pink);
  padding-left: 1rem;
}

.custom-list-type-number li::marker {
  font-weight: bold;
}

/* CUSTOM TABLES */
.custom-table-data th {
  font-weight: normal;
}

.custom-table-data tr > td {
  color: var(--text-light-brown);
  font-weight: bold;
}

.custom-table-data tr:last-child th {
  border-bottom: none; /* Remove the bottom border from the last header */
}

/* -------- BEGIN - MEDIA QUERIES --------- */

@media screen and (max-width: 375px) {
 .custom-bg-light-sm {
  background-color: #fff;
 }

}

@media screen and (min-width: 376px) {
  .custom-rounded-md-2 {
    border-radius: 0.5rem;
  }

  .custom-img-padding {
    padding-inline: 3rem;
    padding-top: 3rem;
  }

/* --------- END - MEDIA QUERIES --------- */

}